.page-index {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  width: 100vw;
  height: 100vh;
}

.page-index__announcement {
  transition: all 1s ease-in-out;
  font-size: 1.5em;
  letter-spacing: 0.25rem;
  animation: 6s fadein linear;
}

@media (min-width:480px) {
  .page-index__announcement {
    font-size: 2em;
    letter-spacing: 0.75rem;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  66.67% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
